<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h2>Custom Login</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 my-lg-5">

            <form name="f" class="my-3" method="post" th:action="@{/}">
                <fieldset >
                    <strong >
                        <h2>Please Sign in</h2>
                    </strong>
                    <div th:if="${param.error}" class="alert alert-danger">
                        Неправильный логин или пароль
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        Правильный логин и пароль
                    </div>
                    <div class="input-group">
                        <div>
                            <label for="email"></label>
                            <input size="41"  class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" id="email" type="email" name="email"  placeholder="E-Mail address">
                        </div>
                        <div>
                            <input size="41"  class="block w-full rounded p-2 rounded shadow border focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-transparent" id="password" type="password"  name="pass" placeholder="Password">
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-block my-2">Sign in</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>